{
  "processors": [
    "stylelint-processor-styled-components", {
        "moduleName": "styled-components",
        "importName": ["default"]
    }
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ]
}